#!/bin/bash

# Install additional packages from AUR
paru -S --noconfirm opensnitch bitwig-studio renoise-demo bottles protonup-git protonup-qt macchina \
		ttf-victor-mono \
		mesen-x-git bsnes-qt5 melonds citra-qt-git yuzu-mainline-bin rpcs3-bin
