#!/bin/bash

# Install additional packages
sudo pacman -Syu --needed \
	starship neovim bat ripgrep exa fd fzf ncdu dialog ddcutil \
	pv zsh-completions watchexec wl-clipboard git-delta jq ddrescue bottom ctop tealdeer \
	lsof bind-tools mtr socat htop iotop openbsd-netcat strace whois \
	exfat-utils f2fs-tools ddrescue \
	podman podman-dnsname buildah virt-install vagrant gnome-boxes \
	clang go nodejs shellcheck \
	firefox bitwarden bitwarden-cli mopidy ncmpcpp evince \
	rng-tools redshift scrot arandr \
	gnome-tweak-tool gnome-control-center guake gnome-software gnome-software-packagekit-plugin \
	steam mgba-qt ppsspp pcsx2 digikam discord spotifyd libreoffice-fresh
