#!/bin/bash

set -eufo pipefail

# Check if font exists
fc-list | grep -i "Fira" &> /dev/null && exit 0

font_dir=~/.local/share/fonts

if [ ! -d "${font_dir}" ]; then
    mkdir -p "${font_dir}"
fi

cd $font_dir

# Install FiraCode font
git clone --filter=blob:none --sparse https://github.com/ryanoasis/nerd-fonts
cd nerd-fonts
git sparse-checkout add patched-fonts/FiraCode
./install.sh FiraCode

# Remove repo
cd ..
rm -rf nerd-fonts
