#!/bin/bash

# install flathub packages
flatpak remote-add --user --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo
flatpak install flathub com.bitwig.BitwigStudio org.yuzu_emu.yuzu org.citra_emu.citra net.davidotek.pupgui2 io.mgba.mGBA com.github.tchx84.Flatseal org.ppsspp.PPSSPP net.kuribo64.melonDS net.pcsx2.PCSX2 net.rpcs3.RPCS3 dev.bsnes.bsnes
# TODO: create mesen flatpak?

# install packages in toolbox default container
toolbox run bash -c 'curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash'
toolbox run bash -c 'nvm install node && npm i -g @bitwarden/cli'
toolbox run bash -c 'dnf install neovim golang'
toolbox run bash -c 'go install golang.org/x/tools/gopls@latest github.com/go-delve/delve/cmd/dlv@latest'
