#!/bin/bash

# install AUR tool
rustup default stable

git clone https://aur.archlinux.org/paru.git
cd paru
makepkg -si

# install command line tools with paru
paru -S paru
paru -S 1password 1password-cli bitwig-studio citra-git nerd-fonts-fira-code protonup-git

# remove paru dir
rm -rf paru
