#!/bin/bash

# install language servers for common languages
pacman -Sy python-msgpack python-pynvim bash-language-server dockerfile-language-server-bin gopls nodejs-svelte-language-server python-language-server rust-analyzer typescript-language-server-bin vim-language-server vscode-css-languageserver-bin vscode-html-languageserver-bin vscode-json-languageserver-bin yaml-language-server
